{% extends 'base.html' %}

{% block content %}

<div class="grid justify-items-center">
  <div class = "my-10">
    <form method="post" class = "m-10">

        <label class="font-normal text-lg" for="comm">Title</label><br>
        <input class="border w-72" type="text" id="comm" name="comm_name" required><br>

        <label class="font-normal text-lg" for="description">Description</label><br>
        <textarea class="border h-96 w-72" type="text" name="comm_description" id="description" required> </textarea><br>

        <input type="submit" value="Add community">

    </form>
  </div>
</div>

{% endblock %}
