{% extends 'base.html' %}

{% block content %}

  <form style="border-color:#e7e7e7"  method="post" class = "p-3 border-t h-screen w-full bg-white">

      <input style="border-color:#e7e7e7" class="border w-full p-2 my-4" placeholder="Name your community" type="text" id="comm" name="comm_name" required>

      <div style="background-color:#ebe9ec;border-color:#e7e7e7" class="border-r border-l border-t py-2 text-center">Description</div>
      <textarea style="border-color:#e7e7e7" class="border h-80 w-full p-2" placeholder="Description"  type="text" name="comm_description" id="description" required></textarea>
      <input style="background-color:#ebe9ec" class="p-3 my-2" type="submit" value="Add community">

  </form>

{% endblock %}
