{% extends 'base.html' %}

{% block content %}
<div class="grid justify-items-center m-20">
  <form method="post" class = "place-self-center p-6 space-y-4 rounded-lg bg-white">

    <div>
      <input type="text" class="border text-lg px-2 h-10 w-72" name="user" id="email" placeholder="Enter your email" />
    </div>

    <div>
      <input type="password" class="border text-lg px-2 h-10 w-72" name="password" id="password" placeholder="Password"/>
    </div>

    <input class="w-72 h-10 bg-light-brown" type="submit" value="Log In"/>

  </form>
</div>
{% endblock %}
