{% extends 'base.html' %}

{% block content %}
  <div class="grid py-5 space-y-5">
  {% for post in posts %}
  <div class="border rounded border-bor-comm sm:mx-5 lg:mx-60 xl:mx-80">
    <a href={{("/communities/"+comm_name+"/"+post['title']).replace(" ", "-")}}>
      <div class="text-center font-oxy font-black text-lg">{{post["title"]}}</div>
      <div class="text-center font-oxy font-normal text-sm">by {{post["username"]}}</div>
      <div class="my-3 px-3 font-oxy font-normal text-xs sm:text-base">{{post["body"]}}</div>

      <div class="text-center font-oxy font-black text-sm">Read the rest of this post>>> </div>
    </a>
  </div>
  {% endfor  %}
  </div>
{% endblock %}
