{% extends 'base.html' %}

{% block content %}
{% if post == {} %}
  <div> </div>
{% else %}
  <div class="grid justify-items-center space-y-5 my-5 mx-3 sm:mx-12 md:mx-24 lg:mx-36 xl:mx-48 2xl:mx-60">
    <div class="text-center font-oxy font-black text-lg md:text-3xl">{{post['title']}}</div>
    <div class="text-center font-oxy font-normal text-sm">by {{post['username']}}</div>
    <div class="border rounded border-bor-comm p-2 font-lato text-xs lit:text-sm litx:text-base sm:text-lg" >{{post['body']}}</div>
  </div>
{% endif %}

{% endblock %}
