{% extends 'base.html' %}

{% block content %}
<div class="grid justify-items-center">
<form method="post" class = "my-5 space-y-4">

   <label for="name">name</label><br>
   <input class="border" name="name" id="name" required><br>

   <label for="email">email</label><br>
   <input class="border" type="email" name="email" id="email" required><br>

   <label for="password">Password</label><br>
   <input class="border" type="password" name="password" id="password" required><br>

   <input type="submit" value="Register">
</form>
</div>
{% endblock %}
